/.venv/
/build/
/dist/
/src/*.egg-info/
/env.sh
/env-local.sh
/env-local-example.sh
/setup-server/
/setup-db/
/work-directory/
/dynamic_loading_test.py
/src/setupservers/helpers/
/tmp*
!/tmp-remote-debug
/tmp-remote-debug/.venv/
/tmp-remote-debug/
__pycache__/