/.venv/
/build/
/dist/
/src/*.egg-info/
/env-local-example.sh
/tmp*
__pycache__/
/setupservers_older/template/setup-db/001----postgres-v1/__init__.py
/setupservers_older/template/setup-db/001----postgres-v1/setup_db.py
/setupservers_older/template/setup-db/setup-db/__init__.py
/setupservers_older/template/setup-db/setup-db/setup_db.py
/setupservers_older/template/setup-db/__init__.py
/setupservers_older/template/setup-fhir-server/setup-fhir-server/__init__.py
/setupservers_older/template/setup-fhir-server/setup-fhir-server/setup_fhir_server.py
/setupservers_older/template/setup-fhir-server/__init__.py
/setupservers_older/template/setup-servers/bin/.template.sh
/setupservers_older/template/setup-servers/bin/setup-server.sh
/setupservers_older/template/setup-servers/bin/setup-server-debug-pycharm.sh
/setupservers_older/template/setup-servers/bin/setup-server-example-run.sh
/setupservers_older/template/setup-servers/bin/setup-server-example-stop.sh
/setupservers_older/template/__init__.py
/setupservers_older/template/env.sh
/setupservers_older/template/env-local.sh
/setupservers_older/template/env-local-example.sh
/setupservers_older/__init__.py
/setupservers_older/api.py
/setupservers_older/run_both.py
/setupservers_older/run_help.py
/setupservers_older/setup.cfg.save
/setupservers_older/setup_servers.py
/src/example/docker/docker_examples.py
/src/example/click_options.py
/src/example/decorator.py
/src/example/dict.py
/src/example/entry_points.py
/src/example/git_examples.py
/src/example/logging_examples.py
/src/example/misc_python.py
/src/example/setup_info_example.py
/src/example/setup_path/setup-info.yaml
/src/example/click_color.py
/src/example/file_locking.py
/src/example/high_ground.txt.lock
/src/example/walk.py
